.group-child58,
.group-child59,
.group-child60 {
  position: absolute;
  top: 25px;
  left: 4.52px;
  width: 50px;
  height: 50px;
}
.group-child59,
.group-child60 {
  top: 0;
  left: 2.39px;
}
.group-child60 {
  top: 13.96px;
  left: 0;
  width: 15.14px;
  height: 26.42px;
}
.ellipse-top {
  position: relative;
  width: 100%;
  height: 50px;
}
